.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.about-us-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-direction: row;
    position: relative;
}

.about-us {
    position: absolute;
    width: 40%;
    height: 400px;
    border: 2px solid #800000; /* Maroon border */
    border-radius: 8px; /* Slight rounding of borders */
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    align-self: center;
    justify-self: flex-end;
}

.about-us h1 {
    color: #800000;
}

.about-us p {
    font-size: 1.2em;
}

.about-us-section img {
    width: 70%;
    height: 60%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.general-info {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-direction: row;
    height: 400px;
}

.news {
    width: 30%;
    height: 400px;
    border-radius: 8px; /* Slight rounding of borders */
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
}

.news h1 {
    color: #800000;
}

.news p {
    font-size: 1.2em;
}

.news-items {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.news-items div {
    border: 2px solid #800000; /* Maroon border */
    border-radius: 8px; /* Slight rounding of borders */
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    margin: 10px;
    font-size: 0.5em;
}

.condensed-view {
    width: 70%;
    height: 400px;
    border-radius: 8px; /* Slight rounding of borders */
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.condensed-view div {
    height: 50%;
    width: 30%;
    border: 2px solid #800000; /* Maroon border */
    border-radius: 8px; /* Slight rounding of borders */
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    margin: 5px;
    font-size: 1em;
}